/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {

}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;

  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

ul.side-nav:hover {
    overflow-y: auto; }

    .char0{background:url(/images/char.png) bottom left no-repeat;width:auto;height:160px;padding-top:70px}
    .char1{background:url(/images/char1.png) bottom right no-repeat;width:auto;height:160px;padding-top:70px}
    .char2{background:url(/images/char3.png) bottom left no-repeat;width:auto;height:160px;padding-top:70px}
    .char3{background:url(/images/char2.png) right bottom no-repeat;width:auto;height:160px;padding-top:70px} 
    
    #loader {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
        background: url(/images/loader/FlipFlop.gif) center no-repeat;
      
}
    